@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;
  color: #333;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 0;
}
header {
  background-image: url("../img/result_img/A/main.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px); /* 💡 블러 효과 추가 */
}
header .content {
  position: relative;
  z-index: 1;
  top: 50%;
}
header .content img {
  width: 150px;
  margin-top: -50px;
  margin-bottom: 20px;
  cursor: pointer;
}
header h1 {
  font-size: 32px;
  margin: 0;
}
header p {
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  /* background-color: #fefaf6; */
}
nav .tabs a {
  position: relative;
  padding: 12px 10px;
  margin: 0px 20px;
  color: #6b4a3e;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.2s ease;
}
nav .tabs a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 3px;
  background: #c68c53;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
/* hover 시 밑줄 그어짐 */
nav .tabs a:hover::after {
  transform: scaleX(1);
}

/* 활성 탭(현재 페이지) – 밑줄 항상 보이기 */
nav .tabs a.active::after {
  transform: scaleX(1);
}

/* 모바일 헤더 */
.mobile-header {
  display: none;
  position: fixed;
  z-index: 1000;
  align-items: center;
  width: 100%;
  justify-content: end;
  height: 55px;
}
.hamburger {
  font-size: 35px;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}

.mobile-header.scrolled {
  background-color: white; /* 원하는 배경색으로 변경 */
  transition: background-color 0.3s ease;
}

.mobile-header.scrolled .hamburger {
  color: black; /* 스크롤 시 햄버거 아이콘 색상 */
  transition: color 0.3s ease;
}

/* 모바일 오버레이 메뉴 */
.mobile-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(10px);
}
.mobile-menu-overlay ul {
  list-style: none;
  margin-top: 100px;
  padding: 0;
  text-align: right;
}

.mobile-menu-overlay li {
  margin-bottom: 20px;
  padding: 5px 20px;
  border-bottom: 1px solid #595959;
}

.mobile-menu-overlay a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}
/* content sections */
section {
  margin: 0 auto;
  padding: 80px 20px;
  display: flow-root;
}
.info {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
.info .char {
  width: 300px;
  flex-shrink: 0;
  padding: 0px 100px;
}
.info .details {
  padding: 40px 60px;
  padding-right: 0px;
  flex: 1;
  border-left: 1px solid #adadad;
  margin-top: 10px;
}
.info .details p {
  margin-bottom: 8px;
  font-size: 18px;
  position: relative;
  padding-left: 20px;
}
.info .details p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #6b4a3e;
}
.info .details p:last-child::before {
  content: none;
}
.info .details p:first-child {
  margin-top: 0px;
}
.info .details p:last-child {
  margin-top: 30px;
}
.info .details p a {
  color: #c68c53;
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 500;
}

.info .details p a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #c68c53;
  transition: width 0.3s ease;
}

.info .details p a:hover::after {
  width: 100%;
}

.info .details strong {
  display: inline-block;
  width: 80px;
  border-right: 1px solid #acacac;
  margin-right: 10px;
}
/* 소개 */
.sectionA {
  background-color: #f8f9fa;
}
.section-intro {
  max-width: 1200px;
  margin: 0 auto;
}
.intro {
  padding-top: 20px;
  display: flex;
  gap: 70px;
}
.intro img {
  width: 500px;
  height: 330px;
  object-fit: cover;
}
.intro p:first-child {
  font-size: 24px;
  font-weight: bold;
}
.intro p {
  margin-bottom: 16px;
  font-size: 18px;
}
/* map */
.map {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
.map-box img {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.map-info p {
  margin-bottom: 6px;
  font-size: 18px;
}
.map-info span {
  font-size: 20px;
  color: #fdbd34;
  margin-right: 10px;
  font-weight: bold;
}
.map-info p:first-child {
  font-size: 24px;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding: 10px 0px;
}
#map {
  width: 650px;
  height: 400px;
}
/* 뉴스 */
.sectionB {
  background-color: #f8f9fa;
  padding-bottom: 50px;
}
.news-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-around;
}
.news-list a {
  width: calc((100% - 200px) / 3);
}
.news-list img {
  width: 100%;
  border-radius: 8px;
  height: 380px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease;
}
.news-list img:hover {
  transform: scale(1.05);
}
.news-list p {
  margin-top: 20px;
  font-size: 20px;
  color: black;
  text-align: left;
}
/* 메인으로 */
.back {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}
.btn-start {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 14px 50px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  border: 3px solid #d08c4f;
  font-family: "DungGeunMo";
}
.btn-start:hover {
  background-color: #fad792;
}

/* 푸터 -pc */
footer {
  background-color: #6b4a3e;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  flex-wrap: nowrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
  min-width: 250px;
}

.logo {
  height: 85px;
  flex-shrink: 0;
}

.copyright {
  font-size: 0.75rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  margin-top: 13px;
}

.social-icons img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  object-fit: contain;
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
  header {
    height: 300px;
  }
  header .content img {
    margin-top: -30px;
  }
  header h1 {
    font-size: 28px;
  }
  header p {
    font-size: 18px;
  }
  nav {
    gap: 30px;
    padding: 20px;
  }

  nav .tabs a {
    padding: 12px 5px;
    margin: 0px 10px;
    font-size: 16px;
  }
  /* content sections */
  .section {
    max-width: 800px;
  }
  .info .char {
    width: 250px;
    padding: 0px 60px;
  }
  .info .details {
    padding: 20px 60px;
  }
  .info .details p {
    font-size: 15px;
  }
  .info .details p a {
    font-size: 16px;
  }
  /* 소개 */
  .intro {
    padding-top: 20px;
    display: flex;
    gap: 50px;
  }
  .intro img {
    width: 300px;
  }
  .intro p:first-child {
    font-size: 20px;
  }
  .intro p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  /* map */
  .map {
    padding-right: 0px;
  }
  .map-info p {
    font-size: 16px;
  }
  .map-info span {
    font-size: 18px;
  }
  .map-info p:first-child {
    font-size: 20px;
  }
  #map {
    width: 450px;
    height: 300px;
  }
  /* 뉴스 */
  .news-list img {
    height: 250px;
  }
  .news-list p {
    font-size: 18px;
  }
  /* 메인으로 */
  .backBtn button {
    font-size: 14px;
  }
  /* footer */
  .logo {
    height: 70px;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 16px;
    height: 16px;
    padding: 3px;
  }

  .footer-container {
    padding: 0;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  #wrap {
    background-size: 1100px auto;
  }
  nav {
    display: none; /* 기존 탭 메뉴 숨김 */
  }

  .mobile-header {
    display: flex;
  }

  header {
    height: 400px;
    text-align: center;
    color: white;
    position: relative;
  }
  header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  header .content {
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  header .content img {
    width: 100px;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  header h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  header p {
    font-size: 16px;
  }
  /* content sections */
  .section {
    max-width: 400px;
    padding-bottom: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info .char {
    width: 200px;
    padding-bottom: 60px;
  }
  .info .details {
    padding: 20px;
    border-left: 0;
    border-top: 1px solid #adadad;
  }
  .info .details p {
    font-size: 14px;
  }
  .info .details p a {
    font-size: 16px;
  }
  /* 소개 */
  h1 {
    text-align: center;
  }
  .intro {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .intro img {
    width: 300px;
  }
  .intro div {
    padding: 0px 25px;
  }
  .intro p:first-child {
    font-size: 16px;
    text-align: center;
  }
  .intro p {
    margin-bottom: 16px;
    font-size: 14px;
  }
  /* map */
  .map {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .map-info {
    width: 250px;
  }
  .map-box img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .map-info p {
    font-size: 14px;
  }
  .map-info span {
    font-size: 18px;
  }
  .map-info p:first-child {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  #map {
    width: 300px;
    height: 250px;
  }
  /* 뉴스 */
  .news-list {
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
  }
  .news-list a {
    width: 300px;
  }
  .news-list img {
    height: 300px;
    object-position: center;
  }
  .news-list p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  /* 메인으로 */
  .btn-start {
    padding: 14px 40px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
  }
  /* footer */
  .logo {
    height: 70px;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 16px;
    height: 16px;
    padding: 3px;
  }

  .footer-container {
    gap: 8px;
  }
}

/* 애니메이션 */

/* 초기 상태 */
header .content {
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

header .content.visible {
  opacity: 1;
  transform: translateY(-50%);
}

.intro div {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.intro div.visible {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .intro div {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  .intro div.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 꽃잎효과 */
.flower-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.petal {
  position: absolute;
  top: -40px; /* 위쪽에서 등장 */
  width: 30px;
  height: 30px;
  background: url("/public/img/petal.png") no-repeat center/contain;
  opacity: 0.8;
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(350px) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .petal {
    height: 25px;
    width: 25px;
  }
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(300px) rotate(360deg);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .petal {
    height: 18px;
    width: 18px;
  }
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(400px) rotate(360deg);
      opacity: 0;
    }
  }
}
