@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: white;
  color: #333;
}
a {
  text-decoration: none;
}
header,
footer {
  text-align: center;
  padding: 16px;
}

.hero .container {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flow-root;
}
.introduce {
  padding: 50px 20px;
  display: flow-root;
}
/* 전통주 - pc*/
.hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  color: white;
}
.fixed-content {
  position: absolute;
  width: 100%;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.fixed-content .main_logo img {
  width: 220px;
}

.fixed-content h1 {
  font-size: 40px;
  font-weight: bold;
}

.fixed-content p {
  font-size: 24px;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 1s ease;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  position: relative;
  height: 100%;
}
.slide .bg {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 꽉 채우기 */
  display: block;
}
.bg-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none; /* 클릭 막기 */
}
.slide .char {
  position: absolute;
  bottom: 60px;
  right: 20px; /* 왼쪽 대신 오른쪽에서 20px 떨어진 위치 */
  transform: none; /* translateX 제거 */
  width: 180px;
  z-index: 5;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px;
  margin-bottom: 5px;
}
h1 {
  font-size: 2.5rem;
  margin: 30px 0 0 0;
  font-weight: 700;
}

.char {
  width: 130px;
}

.scroll-down {
  font-size: 2.5rem;
  animation: bounce 1.5s infinite;
  margin-top: 100px;
  color: white;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.characters-mobile,
.mobile-header {
  display: none;
}

/* 태블릿 1024 이하 */
@media screen and (max-width: 1024px) {
  /* 전통주 - pc*/
  .hero {
    height: 500px;
  }
  .fixed-content {
    margin-top: 20px;
  }

  .fixed-content .main_logo img {
    width: 180px;
  }

  .fixed-content h1 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  .fixed-content p {
    font-size: 20px;
  }

  .slide .char {
    width: 150px;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  /* 전통주 - pc*/
  .hero {
    height: 400px;
  }
  .fixed-content {
    margin-top: 30px;
  }

  .fixed-content .main_logo img {
    width: 130px;
  }

  .fixed-content h1 {
    margin-top: 15px;
    font-size: 20px;
  }

  .fixed-content p {
    font-size: 14px;
  }

  .slide .char {
    width: 100px;
    bottom: 40px;
    right: 10px;
  }
  .scroll-down {
    font-size: 2rem;
    margin-top: 80px;
  }
}

/* 테스트 -pc */
.intro,
.introduce {
  position: relative;
  z-index: 0;
}

.intro {
  padding: 60px 20px;
  text-align: center;
  padding-bottom: 0px;
}

.intro h2 {
  font-size: 30px;
  text-align: left;
}

.intro-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 50px;
  margin: 0 auto;
  text-align: left;
  padding: 0px 50px;
}

.intro-left,
.intro-right {
  flex: 1;
}
.intro-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-left {
  text-align: left;
  line-height: 1.5;
  font-size: 22px;
  color: #333;
  white-space: normal;
}

.intro-left p {
  margin: 10px 0px;
}
.intro-left p:nth-child(4) {
  margin-bottom: 30px;
}
.sugar-level {
  background-color: #fff4ce;
  color: #333;
  padding: 10px 26px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
  border: 1px solid #f4dfb5;
}
.intro-talk {
  margin-top: 40px;
  padding: 100px 0px;
  background-color: #f8f9fa;
}
.intro-talk > p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.intro-talk-in {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.intro-talk-in p {
  font-size: 22px;
  margin: 0;
  text-align: center;
}
.intro-talk-in div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-talk-in p:nth-child(2) {
  font-weight: 600;
  margin: 15px 0;
}
.intro-talk-in p:nth-child(3) {
  font-weight: 400;
  font-size: 18px;
}
.img-wrapper {
  width: 450px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.img-wrapper > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
  border-radius: 20px;
}
.img-wrapper:hover > div {
  transform: scale(1.05);
}

.img-wrapper > div > div {
  border-radius: 20px;
}
.intro-talk-in_imgA {
  background-image: url(../img/talk_imgA.jpg);
  border-radius: 20px;
  background-position: center;
}
.intro-talk-in_imgB {
  background-image: url(../img/talk_imgB.jpg);
  background-position: left;
}
.intro-talk-in_imgC {
  background-image: url(../img/talk_imgC.jpg);
  background-position: left;
}
.talk-name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #d08c4f;
  margin-bottom: 4px;
  font-family: "Pretendard", sans-serif;
}

.intro-right img {
  width: 350px;
  margin: 0;
}
.btn-wrapper {
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 1450px) {
  .img-wrapper {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1290px) {
  .intro-talk-in p {
    font-size: 20px;
  }
  .intro-talk-in p:nth-child(2) {
    margin-top: 0;
  }
  .intro-talk-in p:nth-child(3) {
    font-size: 16px;
  }
  .img-wrapper {
    width: 300px;
    height: 200px;
  }
}

/* 태블릿 1024 이하 */
@media screen and (max-width: 1024px) {
  /* 테스트 -pc */
  .intro {
    padding: 40px 20px;
    padding-bottom: 0px;
  }

  .intro h2 {
    font-size: 28px;
  }

  .intro-body {
    padding: 0px 50px;
  }

  .intro-left {
    font-size: 18px;
  }

  .sugar-level {
    font-size: 18px;
    margin-top: 20px;
  }
  .intro-talk {
    padding: 60px 0px;
  }
  .intro-talk > p {
    font-size: 28px;
  }
  .intro-talk-in p {
    font-size: 18px;
  }
  .intro-talk-in p:nth-child(2) {
    font-weight: 600;
    margin: 15px 0;
    margin-top: 0;
  }
  .intro-talk-in p:nth-child(3) {
    font-size: 16px;
  }
  .img-wrapper {
    width: 220px;
    height: 120px;
  }
  .img-wrapper > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease;
    border-radius: 10px;
  }
  .intro-right img {
    width: 300px;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  /* 테스트 -pc */
  .intro {
    padding: 30px 20px;
    padding-bottom: 0px;
  }

  .intro h2 {
    font-size: 24px;
    text-align: center;
    color: #330909;
  }

  .intro-body {
    flex-direction: column;
    gap: 40px;
    padding: 0px 10px;
  }

  .intro-left {
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    white-space: normal;
    text-align: center;
  }

  .intro-left p {
    margin: 10px 0px;
  }

  .intro-talk {
    padding: 50px 0px;
  }
  .intro-talk > p {
    font-size: 22px;
  }
  .intro-talk-in {
    flex-direction: column;
  }
  .intro-talk-in p {
    font-size: 18px;
  }
  .intro-talk-in p:nth-child(2) {
    margin-top: 0;
  }
  .intro-talk-in p:nth-child(3) {
    font-size: 16px;
  }
  .img-wrapper {
    width: 280px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
  }

  .img-wrapper > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease;
    border-radius: 5px;
  }
  .img-wrapper:hover > div {
    transform: scale(1.05);
  }

  .img-wrapper > div > div {
    border-radius: 20px;
  }
  .intro-talk-in_imgA {
    background-image: url(../img/talk_imgA.jpg);
    border-radius: 20px;
    background-position: center;
  }
  .intro-talk-in_imgB {
    background-image: url(../img/talk_imgB.jpg);
    background-position: left;
  }
  .intro-talk-in_imgC {
    background-image: url(../img/talk_imgC.jpg);
    background-position: left;
  }
  .intro-right img {
    width: 200px;
    margin: 0;
  }
  .btn-wrapper {
    margin-top: 20px;
  }
  .talk-name {
    font-size: 14px;
  }
}

/* 질문 */

.btn-start {
  background-color: #ffffff;
  color: #333;
  border: none;
  padding: 14px 50px;
  border-radius: 999px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  border: 3px solid #d08c4f;
  font-family: "DungGeunMo";
}

.btn-start:hover {
  background-color: #fad792;
}
.question-preview {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
  position: relative;
  flex-direction: column;
}
.question-in {
  background-color: #f4dfb5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  padding: 80px 0px;
}
.card {
  padding: 30px;
  display: inline-block;
  width: 100%;
  max-width: 700px;
  border-radius: 24px;
  border: 3px solid rgb(88, 70, 50);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background-color: #fbf0da;
}

.question {
  background-color: #fff;
  border: 2px solid #fcedb3;
  border-radius: 999px;
  padding: 14px 20px;
  max-width: 520px;
  margin: 0 auto 20px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 1.5rem;
}

.question-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 16px 0;
  color: #333;
}
.starts {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 50px;
}
.question-image {
  height: 400px;
  margin-bottom: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-image img {
  height: 400px;
  object-fit: contain;
  margin-bottom: 24px;
  margin-top: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  background-color: #fff;
  border: 2px solid #fcedb3;
  margin: 0 auto;
  padding: 12px;
  border-radius: 999px;
  width: 100%;
  max-width: 450px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f7df97;
  cursor: pointer;
}

/* 태블릿 1024 이하 */
@media screen and (max-width: 1024px) {
  /* 질문 */
  .btn-start {
    font-size: 20px;
  }
  .question-in {
    padding: 60px 0px;
  }
  .card {
    padding: 20px;
    width: 70%;
  }
  .starts {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 40px;
  }
  .question-image {
    height: 300px;
  }

  .question-image img {
    height: 300px;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  /* 질문 */
  .btn-start {
    padding: 14px 40px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
  }
  .question-preview {
    margin: 50px 0px;
  }
  .question-in {
    padding: 50px 0px;
  }
  .card {
    width: 70%;
  }
  .starts {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 30px;
  }
  .starts-2 {
    font-size: 12px;
  }
  .question-image {
    height: 200px;
    margin-bottom: 0px;
  }

  .question-image img {
    height: 200px;
  }
}

/* 전통주 소개 */
.introduce {
  text-align: center;
  padding: 80px 20px;
}
.introduce .container {
  max-width: 1200px;
  margin: 0 auto;
}
.introduce h2 {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: left;
}
.introduce-in {
  margin: 0;
  font-size: 20px;
  text-align: left;
  padding: 0px 50px;
}
.slider-container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.slider-track {
  display: flex;
  align-items: flex-end;
  will-change: transform;
  gap: 150px;
  margin-left: 30px;
  height: 450px;
}

.item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.item img {
  width: 280px;
  height: 280px;
  border-radius: 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-bottom: 12px;
  transition: all 0.4s ease;
}

.item p {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
.item p:nth-child(3) {
  display: none;
}
.item.center img {
  transform: scale(1.2);
}

.item.center p:nth-child(2) {
  font-size: 24px !important;
  font-weight: 600;
  color: #111;
  margin-top: 30px;
}
.item.center p:nth-child(3) {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #111;
  margin-top: 10px;
}
/* 태블릿 1024 이하 */
@media screen and (max-width: 1290px) {
  /* 전통주 소개 */
  .slider-container {
    max-width: 1000px;
  }
  .slider-track {
    gap: 100px;
  }
  .item img {
    width: 250px;
    height: 250px;
  }
}

/* 태블릿 1024 이하 */
@media screen and (max-width: 1024px) {
  /* 전통주 소개 */
  .introduce {
    padding: 60px 20px;
    padding-top: 20px;
  }
  .introduce h2 {
    font-size: 28px;
  }
  .slider-container {
    max-width: 700px;
  }

  .slider-track {
    gap: 100px;
    height: 350px;
  }
  .item img {
    width: 150px;
    height: 150px;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  /* 전통주 소개 */
  .introduce {
    padding: 80px 20px;
    padding-top: 0px;
  }

  .introduce h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  .slider-container {
    max-width: 300px;
  }

  .slider-track {
    gap: 15px;
    height: 180px;
    margin: 0;
  }

  .item img {
    width: 90px;
    height: 90px;
  }

  .item p {
    margin: 0 auto;
    font-size: 12px;
  }
  .item.center p:nth-child(2) {
    font-size: 14px !important;
    margin-top: 15px;
  }
  .item.center p:nth-child(3) {
    display: none;
  }
}

/* 마스코트 소개 */
.mascot {
  background-image: url(../img/mascot_bg.png);
  text-align: center;
  position: relative;
  padding-top: 30px;
}
.mascot-in {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}
.mascot-in h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 0px;
}
.mascot-char {
  display: flex;
  height: 500px;
  background-image: url(../img/mascot.gif);
  background-size: cover;
  background-position: 50%;
  margin: 0 auto;
  margin-left: -100px;
}
/* 태블릿 1024 이하 */
@media screen and (max-width: 1024px) {
  /* 마스코트 소개 */
  .mascot-in {
    padding: 30px 20px;
  }
  .mascot-in h2 {
    font-size: 28px;
  }
  .mascot-char {
    height: 400px;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  /* 마스코트 소개 */
  .mascot {
    background-size: 1100px auto;
    padding-top: 10px;
  }
  .mascot-in {
    margin-top: 20px;
  }
  .mascot-in h2 {
    font-size: 24px;
    text-align: center;
    font-family: "DungGeunMo";
    margin-bottom: 15px;
  }
  .mascot-char {
    height: 200px;
    margin-left: -30px;
  }
}

/* 푸터 -pc */
footer {
  background-color: #6b4a3e;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  flex-wrap: nowrap;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
  min-width: 250px;
}

.logo {
  height: 85px;
  flex-shrink: 0;
}

.copyright {
  font-size: 0.75rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  margin-top: 13px;
}

.social-icons img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  object-fit: contain;
}

/* 태블릿 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo {
    height: 70px;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 16px;
    height: 16px;
    padding: 3px;
  }

  .footer-container {
    padding: 0;
  }
}

/* 모바일 768 이하*/
@media screen and (max-width: 768px) {
  .logo {
    height: 70px;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .social-icons img {
    width: 16px;
    height: 16px;
    padding: 3px;
  }

  .footer-container {
    gap: 8px;
  }
}

.flower-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

.petal {
  position: absolute;
  top: -40px; /* 위쪽에서 등장 */
  width: 30px;
  height: 30px;
  background: url("/public/img/petal.png") no-repeat center/contain;
  opacity: 0.7;
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(600px) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .petal {
    height: 25px;
    width: 25px;
  }
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(500px) rotate(360deg);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .petal {
    height: 18px;
    width: 18px;
  }
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(400px) rotate(360deg);
      opacity: 0;
    }
  }
}

/* 애니메이션 */

/* 초기 상태 */
.fixed-content {
  opacity: 0;
  top: 45%;
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fixed-content.visible {
  opacity: 1;
  transform: translateY(-50%);
}
.intro-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.intro-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.intro-talk-in span {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.intro-talk-in span.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .intro-right {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .intro-right.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
