body {
  background-image: url("../img/bg-section.png");
}

.survey-container {
  background-color: #fbf0da;
  max-width: 500px;
  margin: 40px auto;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: center;
}

.progress-bar {
  position: relative;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 50px;
}

.progress-track {
  width: 100%;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #f7e1b5;
  transition: width 0.3s ease;
}

.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-card h2 {
  margin: 20px 0 16px;
}
.question-card .answer-buttons {
  width: 400px;
  margin-top: 30px;
}

.question-image {
  margin-top: 30px;
  width: 400px;
  height: 400px;
}
.question-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 8px;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.answer-btn {
  background-color: #fffdf7;
  border: 1px solid #f7e1b5;
  border-radius: 20px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.answer-btn:hover {
  background-color: #fef2d5;
}
